table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    color: blue;
}

.hideSalary {
    display: none;
}

form {
    display: inline-block;
    width: 200px;
    text-align: left;
}